In [2]:
with open('../cerita.txt', encoding='utf-8') as f:
    teks = f.read()

In [6]:
import re
# hapus spasi berlebih
teks = re.sub(r' +',' ',teks) # spasi berlebih
teks = re.sub(r'\n+',' ',teks) # \n berlebih
teks = teks.lower() # ubah ke huruf kecil
#print(teks)

In [7]:
import os
import nltk
nltk.data.path.append("../nltk_data")

In [9]:
from nltk.tokenize import sent_tokenize

# split teks menjadi kumpulan kalimat
kalimat = sent_tokenize(teks) # tokenisasi kalimat

681

In [10]:
from nltk.tokenize import word_tokenize
kata = []
for i in range(len(kalimat)):
    kalimat[i] = re.sub(r"[^a-zA-Z]", " ", kalimat[i])
    kalimat[i] = re.sub(r' +',' ',kalimat[i])
    kata_dlm_kalimat = word_tokenize(kalimat[i])
    kata += kata_dlm_kalimat

In [12]:
print("Jumlah kata : ", len(kata))
print("Jumlah kalimat : ", len(kalimat))

Jumlah kata :  8086
Jumlah kalimat :  681

In [15]:
kata[4]

'judul'

In [16]:
import pandas as pd
pd.DataFrame(kalimat, columns=['kalimat']).head()

                                             kalimat
0  cerita rakyat nusantara no judul cerita hal pu...
1            ia adalah raja yang arif dan bijaksana
2  sang prabu juga mempunyai seorang permaisuri y...
3  dari hasil perkawinannya dengan sang permaisur...
4  putri kandita memiliki paras yang cantik meleb...

In [17]:
# hitung kata unik
jum_kata = {}
for k in kata:
    if k not in jum_kata:
        jum_kata[k] = 1
    else:
        jum_kata[k] += 1

In [42]:
pd.DataFrame(pd.Series(jum_kata), columns=['jum_kata'])

                  jum_kata
cerita                  12
rakyat                   1
nusantara                1
no                       1
judul                    1
hal                      7
putri                  120
kandita                 26
legenda                  2
gunung                  41
arjuna                  31
kisah                    4
doyan                   40
nada                    40
pangeran                54
pande                   33
gelang                  36
dan                    132
cadasari                12
peu                      2
mana                     5
meinegaka                2
sawai                    2
di                     126
gua                     22
kiskenda                 9
ki                      42
ageng                   32
pandanaran              30
sumber                   1
...                    ...
dikembalikan             1
memaafkan                1
syekh                    1
tibalah                  1
cerdas                   1
rajin                    1
berkat                   2
kecerdesannya            1
ditugaskan               1
menyiarkan               1
perguruan                1
menonjol                 1
istilah                  1
patembayatan             2
kerukunan                1
kegotongroyongan         1
memeluk                  1
sahadat                  1
tembayat                 3
masjid                   1
gala                     1
pengetahuan              1
mengajarkan              1
bercocok                 1
tanam                    1
bergaul                  1
akhir                    1
hayatnya                 1
ditemukan                1
cakrakembang             1

[1776 rows x 1 columns]